/* .container{
    border: solid red 2px;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    margin: 1em;
    position: relative;
    padding: 2em;
    justify-content: space-around;
} */

.container{
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

/* cards */
.card{
    width: 300px;
    position: relative;
    margin: 20px;
    font-family: 'Decker', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
}

.card:hover{
    box-shadow: 1px 1px 20px -10px #1F618D49;
}

.card:hover .card_info{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.card_icon{
    width: 100%;
    height: 220px;
    background-color: #EFEFEF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: 1s;
    border-radius: 20px;
}

.card:hover .card_icon{
    margin-top: -30px;
    border-radius: 20px 20px 0px 0px;
} 
.card_icon img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 1s;
}

.card_info{
    width: 100%;
    height: 220px;
    color: #85929E;
    background-color: #EFEFEF;
    padding: 20px;
    margin-top: -220px;
    transition: all 300ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
}

.card_info p {
    font-size: 14px;
    margin-top: 10px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.card_info h4{
    font-size: 16px;
    font-weight: 800;
    color: #5D6D7E;
}

.card_info button{

    position: relative;
    margin-top:20px;
    padding: 10px 20px;
    background-color: #3498DB;
    color: aliceblue;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 1px 1px 30px -5px #1F618D49;
    transition: box-shadow 300ms;
}

.card_info button:hover{
    box-shadow: 1px 1px 30px -5px #1F618D70;
}